using Microsoft.EntityFrameworkCore;
using {{DomainNamespace}}.Entities;

namespace {{Namespace}};

public class {{ClassName}} : DbContext
{
    public {{ClassName}}(DbContextOptions<{{ClassName}}> options)
        : base(options)
    {
    }

{{DbSets}}
    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
{{KeyConfigurations}}    }
}
