using Microsoft.EntityFrameworkCore;

namespace {{Namespace}};

public class {{ClassName}} : DbContext
{
    public {{ClassName}}(DbContextOptions<{{ClassName}}> options)
        : base(options)
    {
    }
}
