{{UsingLines}}var builder = WebApplication.CreateBuilder(args);

{{HostConfiguration}}
builder.Services.AddControllers();

{{ServiceRegistrations}}{{InfraRegistrations}}var app = builder.Build();

{{InfraPipeline}}app.MapControllers();

app.Run();
