{{UsingLines}}var builder = WebApplication.CreateBuilder(args);

builder.Services.AddControllers();

{{InfraRegistrations}}var app = builder.Build();

{{InfraPipeline}}app.MapControllers();

app.Run();
