using System;
using System.Collections.Generic;
using System.Linq;
using {{DomainNamespace}}.Entities;
using {{DomainNamespace}}.Repositories;

namespace {{Namespace}};

public class {{ClassName}} : {{InterfaceName}}
{
    private readonly List<{{EntityName}}> _items = new();

    public IEnumerable<{{EntityName}}> GetAll()
    {
        return _items;
    }

    public {{EntityName}}? GetById({{IdType}} id)
    {
        return _items.FirstOrDefault(entity =>
            EqualityComparer<{{IdType}}>.Default.Equals(entity.{{IdPropertyName}}, id));
    }

    public void Create({{EntityName}} entity)
    {
        if (GetById(entity.{{IdPropertyName}}) is not null)
        {
            Update(entity);
            return;
        }

        _items.Add(entity);
    }

    public void Update({{EntityName}} entity)
    {
        var index = _items.FindIndex(existing =>
            EqualityComparer<{{IdType}}>.Default.Equals(existing.{{IdPropertyName}}, entity.{{IdPropertyName}}));

        if (index >= 0)
        {
            _items[index] = entity;
            return;
        }

        _items.Add(entity);
    }

    public void Delete({{IdType}} id)
    {
        var entity = GetById(id);
        if (entity is not null)
        {
            _items.Remove(entity);
        }
    }
}
