using System.Collections.Concurrent;
using System.Collections.Generic;
using {{DomainNamespace}}.Entities;
using {{DomainNamespace}}.Repositories;

namespace {{Namespace}};

public class {{ClassName}} : {{InterfaceName}}
{
    private readonly ConcurrentDictionary<{{IdType}}, {{EntityName}}> _items = new();

    public IEnumerable<{{EntityName}}> GetAll()
    {
        return _items.Values;
    }

    public {{EntityName}}? GetById({{IdType}} id)
    {
        return _items.GetValueOrDefault(id);
    }

    public void Create({{EntityName}} entity)
    {
        _items[entity.{{IdPropertyName}}] = entity;
    }

    public void Update({{EntityName}} entity)
    {
        _items[entity.{{IdPropertyName}}] = entity;
    }

    public void Delete({{IdType}} id)
    {
        _items.TryRemove(id, out _);
    }
}
