using System;
using System.Collections.Generic;
using {{DomainNamespace}}.Entities;
using {{DomainNamespace}}.Repositories;

namespace {{Namespace}};

public class {{ClassName}} : {{InterfaceName}}
{
    public IEnumerable<{{EntityName}}> GetAll()
    {
        return Array.Empty<{{EntityName}}>();
    }

    public {{EntityName}}? GetById({{IdType}} id)
    {
        return null;
    }

    public void Create({{EntityName}} entity)
    {
        throw new NotImplementedException();
    }

    public void Update({{EntityName}} entity)
    {
        throw new NotImplementedException();
    }

    public void Delete({{IdType}} id)
    {
        throw new NotImplementedException();
    }
}